<!-- custom-image-with-text -->
<style>
    .amr-image-with-txt {
    display: block;
    width: 100%;
    padding: 80px 0;
    position:relative
    }
    .amr-image-with-txt .page-width {
    max-width: 100%;
    }
    .story-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    }
    .story-wrapper-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    .story-inner {
    width: 50%;
    display: flex;
    padding: 20px;
    }
    .story-content-head span {
    font-family: 'Figue-Regular';
    color: #000;
    font-size: 24px;
    }
    .story-content-desc {
    display: block;
    margin-top: 40px;
    position: relative;
    }
    .story-wrapper-img {
    padding-right: 25px;
    }
    .story-wrapper-img, .story-wrapper-content {
    width: 50%;
    text-align:center;
    }
    .amr-head-30 {
    text-align: center;
    font-size: 30px;
    position: relative;
    display: block;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    line-height: 1.4;
    }
    .amr-head-30:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #121212;
    top: 22px;
    position: absolute;
    z-index: -1;
    }
    .amr-head-30 span {
    background: #fff;
    padding: 0 20px;
    }

    .amr-main-site-bn {
    margin-top: 20px;
    }
    .story-content-desc p {
    font-size: 14px;
    }
    @media screen and (max-width:991px){
    .story-inner {
    width: 100%;
    padding: 20px 0;
    }
    .story-inner:nth-child(2n+2) {
    flex-direction: row-reverse;
    }
    }
    @media screen and (max-width:767px){
    .story-inner {
    flex-wrap: wrap;
    }
    .story-wrapper-img, .story-wrapper-content {
    width: 100%;

    padding:  0;
    }
    .story-wrapper {
    margin-top: 20px;
    }
    .story-wrapper-content {
    margin-top: 20px;
    }
    .amr-image-with-txt {
    padding: 40px 0;
    }
    .amr-head-30:after {
    display:none;
    }
    .amr-head-30 span {
    padding: 0;
    }
    .amr-head-30 {
    font-size: 24px;
    }
    .template-page-story .rich-text__wrapper.rich-text__wrapper--center.page-width {
    width: 100%;
    }
    }
    @media screen and (max-width:425px){
    .template-page-story .rich-text__wrapper .rich-text__text p,.story-content-desc p {
    font-size: 15px;
    }
    .amr-head-30, .story-content-head span {
    font-size: 20px;
    }
    .amr-main-site-bn {
    margin-top: 20px;
    font-size: 13px;
    }
    .story-content-desc {
      margin-top: 25px;
  }
    }
</style>
<div class="amr-image-with-txt">
  <div class="page-width">
    <div class="amr-hero-content">
      {% if section.settings.head != blank %}
        <h2 class="amr-head-30">
          <span>{{ section.settings.head }}</span>
        </h2>
      {% endif %}
      <div class="story-wrapper">
        {% for block in section.blocks %}
          <div class="story-inner">
            <div class="story-wrapper-img">
              {% if block.settings['section-bg'] != blank %}
                <img
                  src="{{ block.settings.section-bg | img_url: 'master' }}"
                  alt="{{ block.settings.section-bg.alt }}"
                  width="auto"
                  height="auto"
                >
              {% endif %}
            </div>
            <div class="story-wrapper-content">
              {% if block.settings.heading != blank %}
                <div class="story-content-head">
                  <span>{{ block.settings.heading }}</span>
                </div>
              {% endif %}
              <div class="story-content-desc">
                {% if block.settings['p-desc'] != blank %}
                  <p>{{ block.settings['p-desc'] }}</p>
                {% endif %}
                {% if block.settings['btn-txt'] != blank %}
                  <a class="amr-main-site-bn button button--secondary" href="{{ block.settings.btn-url }}">
                    {{- block.settings['btn-txt'] -}}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Custom Image WIth Text",
  "settings": [
  {
      "type": "text",
      "id": "head",
      "label": "Section Heading"
    }
  ],
      "blocks": [
  {
    "type": "text",
    "name": "Image Block",
    "settings": [
      {
        "type": "image_picker",
        "id": "section-bg",
        "label": "Image"
      },
     {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "p-desc",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "btn-txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn-url",
          "label": "Button Url"
        }
    ]
  }
],
  "presets": [
  {
    "name": "Custom Image WIth Text",
    "category": "Custom"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
